# Status Backend connection
BOT__PASSWORD=""
BOT__MNEMONIC_PHRASE=""
BOT__COMPRESSED_KEY=""
BOT__INFURA_TOKEN=""
BOT__ALCHEMY_TOKEN=""
BOT__COINGECKO_API_KEY=""

# Database config
DATABASE__DB="status-bot"
DATABASE__USER="status"
DATABASE__PASSWORD="ChangeMeIfYouCare"

# API
# API__API_KEY = "some-api-key"
